.header__title {
  width: 730px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 102px;
  line-height: 96px;
  z-index: 1;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
}
